

mat-card {
  width: 500px;
  margin: 40px auto;
  padding: 10px;
}


form {
  width: 500px;
  margin: 10px auto;

  mat-form-field {
    width: 100%;
  }

  .radio-area {
    margin-bottom: 10px;
  }
}
