ul {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  background: purple;
  width: 100%;
  padding: 30px 18px;

  li {
    a {
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;

      &.active {
        color: #ff7aff;
      }
    }
  }
}


