
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}


.action {
  margin: 30px auto;
  text-align: center;
}
